[python: **.py]
exclude = **/venv/** **/.venv/** **/env/** **/.env/**

[jinja2: **/templates/**.html]
exclude = **/venv/** **/.venv/** **/env/** **/.env/**

[javascript:app/static/*.js]
encoding = utf-8
extract_messages = _,gettext
exclude = **/venv/** **/.venv/** **/env/** **/.env/**