<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm mb-2">
    <div class="container">
        <!-- Brand / Logo -->
        <a class="navbar-brand fw-semibold" href="/">
            <span class="border-end border-secondary pe-2 me-2">✦</span> بازارفلو
        </a>
        <!-- Mobile toggler button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMainContent"
                aria-controls="navbarMainContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collapsible navbar content -->
        <div class="collapse navbar-collapse" id="navbarMainContent">
            <!-- Left side navigation links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if not current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/auth/login">ورود یا ثبت‌نام</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">قوانین و مقررات</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="/profile/dashboard" class="nav-link">خاطر</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/chamber/dashboard">تالارها</a>
                </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Resources
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="#">Documentation</a></li>
                        <li><a class="dropdown-item" href="#">Examples</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Support</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Roadmap</a>
                </li>
            </ul>
          <!-- Right side: search form (simple demo) -->
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-info h-0 w-0" type="submit">Go</button>
          </form>
        </div>
    </div>
</nav>
