<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <title>{% block title %} {% endblock %}</title>
    {% include 'includes/head.html' %}
    {% block style %} {% endblock %}
</head>
<body class="d-flex flex-column min-vh-100 persian">
  {% include 'includes/navbar.html' %}
  
  <main class="flex-grow-1">
    {% block content %} {% endblock %}
  </main>
  
  {% block footer %}
  {% include 'includes/footer.html' %}
  {% endblock %}

  <script src="/static/js/script.js"></script>
  <script src="/static/js/bootstrap.bundle.min.js"></script>
  <script src="{{ url_for('static', filename='/js/socket.io.js') }}"></script>

  {% block script %}
  {% endblock %}
</body>
</html>
